
 html {
  height: 100%;
}
body {
  min-height: 100%;
}
body { position:absolute; top:0; bottom:0; right:0; left:0; }
div#root {
  position:absolute; top:0; bottom:0; right:0; left:0; 
}
.header{
  display: flex;
  background-color: #a82c35;
  justify-content: space-between;
  padding: 10px;
  flex-direction: row;
  width: 100%; 
  overflow: hidden;
  z-index: 999;
  position: fixed;
}

.book-logo-search-div{
display: flex;
position: relative;
left: 100px;
align-items: center;
}

.book-logo-div{
margin-right: 20px;
}

.book-title{
margin-right: 80px;
}

.search-textfield{
 width: 700px;
 background-color: white;
 border-radius: 10px;
 outline: none;
}

.cart-wishlist-div{
  display: flex;
  align-items: center;
  position: relative;
  right: 100px;
}
.cart-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wishlist-div{
display: flex;
flex-direction: column;
justify-content: center;  
margin-left: 20px;
}
.icon-counter{
  padding-left: 9px;
  padding-right: 2px;
  border-radius: 50%;
  height: 25px;
  width: 30px;
  border: 1px solid white;
  color: white;
}

.bookcount-sortby-div{
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
  margin-top: 109px;
}

#Sort_By_Relevance{
  border-radius: 10px;
  outline: none;
  padding: 10px;

}

.pagination-div{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.display-books-div{
  /* display: flex;
    flex-wrap: wrap;
    height: 1000px;
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: center;
    width: 1400px;
    align-items: center; */
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
 
}

.MuiPaper-root.MuiCard-root.note-card.MuiPaper-elevation1.MuiPaper-rounded{ 
  width:100%;
  margin:1%;
  height: 100%;
  background-color: #f1faee;
}

.hover-card{ 
  width:18%;
  height: 40%;
  background-color: transparent;
  z-index: 1;
}
.footer-div {
    display: flex;
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #412d2e;
      color: white;
      height: 70px;
      justify-content: center;
      align-items: center;
    }

    .my-cart-main-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 800px;
      
  }

  .my-cart-sub-div {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 1000px;
    height: 300px;
    border: 1px solid;
    box-shadow: 11px 9px 20px 0px black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.book-image-details-div {
  display: flex;
  flex-direction: row;
}

.book-details-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
}
.item-quantity-div {
  display: flex;
  align-items: center;
}

.book-image-div {
  width: 220px;
  height: 200px;
}

#mycart-counter{
  padding-left: 10px;
  padding-right: 10px;
  background-color: lemonchiffon;
}
.place-order-btn-div{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

#check-box-div{
  display: flex;
  justify-content: space-around;
}

.customer-details-div{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 1000px;
  height: auto;
  border: 1px solid;
  box-shadow: 11px 9px 20px 0px black;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.order-summary-div{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 1000px;
  height: auto;
  border: 1px solid;
  box-shadow: 11px 9px 20px 0px black;
  padding-left: 10px;
  padding-top: 10px
}

.order-main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.img {
  vertical-align: middle;
  border-style: none;
  width: 300px;
}